@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300..900&display=swap');
    
.grid-container {
    display: grid;
    grid-gap: 10vw;
    padding: 10vw;
    margin: 0;
}
.grid-item {
    border: thin;
    border-radius: 5vw;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    
    
}
.grid-item p {
    color: #c0c0c0;
}
.grid-item img {
    max-width: 80%;
    max-height: fit-content;
    display: block;
    margin: 0 auto;
    padding: 0;
    border: 5% thin;
    opacity: 0.8;
    transition: opacity 0.3s ease;
}
.grid-item img:hover {
    opacity: 1;
}

body, html {
    padding: 0;
    margin: 0;
    font-family: 'Frank Ruhl Libre', sans-serif;
}
.background-container{
    background-image: url('../imgs/background.jpg');
    background-size:auto;
    background-position: center;
}
