.background-container{
    background-image: url('../imgs/background.jpg');
    background-size:auto;
    background-position: center;
}

body, html {
    padding: 0;
    margin: 0;
    font-family: 'Frank Ruhl Libre', sans-serif;
}
nav {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    opacity: 0.6;
}

nav a {
    color: bisque; 
    text-decoration: none;
    margin-left: 20px;
    font-size: 18px;
}

nav a:hover {
    color: darkgray;
}
.card {
    max-width: 600px;
    width: 80%;
    margin: 50px auto; 
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    flex-direction: column; /* Aggiunta */
}

@media only screen and (max-width: 600px) {
    .card {
        width: 90%; /* Aggiunta */
    }
}

.card h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}
.footer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
}
.footer .language-menu{
    margin-right: auto;
}
.footer a {
    margin-left: 20px;
    text-decoration: none; 
    color: bisque; 
}

.footer a:hover {
    color: darkgray;
}
.language-menu {
    display: inline-block;
    margin-right: 20px;
}

.language-menu label {
    cursor: pointer;
    color: blue;
    text-decoration: underline; 
}
.language-menu label:hover {
    color: darkblue;
}

select#select-language option:checked {
    font-weight: bold;
}