.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10vw;
    background-color: whitesmoke;
    padding: 10vw;
}
.grid-item {
    background-color: burlywood;
    border: thin;
    border-radius: 5vw;
    padding: 20px;
    font-size: 30px;
    text-align: center;
}
.grid-item img {
    max-width: 70%;
    max-height: fit-content;
    display: block;
    margin: 0 auto;
    padding: 0;
}